*
{
    margin: 0;
    padding: 0;
}
#Main_Section
{
  height: 100vh;
  width: 100%;
  background:black;
  min-height: 1500px;
  overflow-x: hidden;
}
#streetlight
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
}
#glow
{
  position: absolute;
  z-index: 99;
  bottom: 35%;
  left: 48%;
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  overflow: hidden;
  background-color: #c4a38d;
  animation-name: glowing;
  animation-duration: 3s;
  animation-iteration-count: 5;
}
@keyframes glowing {
  0%   {background-color: #c4a38d;}
  50%  {background-color: #cfc2ba;}
  100% {background-color: #c4a38d;}
}
#trees
{
  width: auto;
  height: 100vh;
  position: relative;
  mix-blend-mode: color;
  z-index: 105;
}
